# Generated code
*.g.dart
*.freezed.dart

# Local dev stuff
.idea/
.vscode/
.dart_tool/
.DS_Store/
docker/ingress/custom_ssl/npm-1/*

# Docker data folders
docker/db-data/
docker/obj-data/

# Ingress crap
docker/ingress/logs/

# Apple horseshit
.DS_Store
isar/*.isar
isar/*.isar.lock
