# Generated code
*.g.dart
*.freezed.dart

# Local dev stuff
.idea/
.vscode/
.dart_tool/
.DS_Store/

# Docker data folders
docker/db-data/
docker/obj-data/

# Ingress crap
docker/ingress/logs/

# Apple horseshit
.DS_Store
